/* Space out content a bit */
body {
    padding: 0;
    margin: 0;
	font-family: Arial;
}

.welcome-div {
	margin: 0 auto;
	background-color: #669900;
	border-radius: 10px;
	width: 50%;
}

.welcome-message {
	text-align: center;
	color: white;
}

.other-div {
	display: inline-block;
	background-color: #FBF8F3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 20%;
	text-align: center;
}

.message-div {
	display: inline-block;
	background-color: #FBF8F3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 5px;
	width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
#app-junior {
    padding: 0 15px;
}
span.important-text {
    font-weight: bold;
    color: #57f;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul-special {
	list-style-type: circle;
	margin-left: 35px;
}

@import '../scripts/pages/pages';
@import '../scripts/widgets/widgets';