/* Space out content a bit */

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.welcome-div {
  margin: 0 auto;
  background-color: #669900;
  border-radius: 10px;
  width: 50%;
}

.welcome-message {
  text-align: center;
  color: white;
}

.other-div {
  display: inline-block;
  background-color: #FBF8F3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 20%;
  text-align: center;
}

.message-div {
  display: inline-block;
  background-color: #FBF8F3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
  width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#app-junior {
  padding: 0 15px;
}

span.important-text {
  font-weight: bold;
  color: #57f;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ul-special {
  list-style-type: circle;
  margin-left: 35px;
}

/* Load all page specific less files */

#lightbox {
  position: fixed;
  /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

#lightbox p {
  text-align: right;
  color: #fff;
  margin-right: 20px;
  font-size: 12px;
}

#lightbox img {
  box-shadow: 0 0 25px #111;
  max-width: 940px;
}

.chart-options .chart-option {
  float: left;
  cursor: pointer;
  margin: 5px;
}

.chart-options .chart-option:hover {
  font-weight: bold;
}

.chart-options .chart-option.chart-type.disabled {
  cursor: normal;
  color: #ddd;
}

#overlay {
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#menu {
  width: 100%;
  height: 55px;
  background: url(/images/logo.png) no-repeat 10px center;
  background-color: #222;
  padding-left: 140px;
}

#menu .menu-item {
  float: left;
  color: #ddd;
  padding: 15px;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  height: 55px;
}

#menu .menu-item:hover {
  font-weight: bold;
}