.chart-options {
    .chart-option {
        float: left;
        cursor: pointer;
        margin: 5px;
        &:hover {
            font-weight: bold;
        }
        &.chart-type {
            &.disabled {
                cursor: normal;
                color: #ddd;
            }
        }
    }
}

#overlay {
     visibility: hidden;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
}